backend:
  name: github
  # name: git-gateway
  repo: "alihardan/ncmstest"
  branch: main
  auth_scope: repo # this is needed to fork the private repo
  open_authoring: true

# local_backend: true

# publish_mode: editorial_workflow
media_folder: "images/uploads" # Media files will be stored in the repo under images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

i18n:
  structure: single_file
  locales: [en, fa]
  default_locale: en

collections:
  - name: "users"
    label: "Users"
    extension: json
    format: json
    folder: "_users"
    create: true
    identifier_field: "username"
    fields:
      - { label: "Username", name: "username", widget: "string" }
      - {
          label: "Display name",
          name: "display_name",
          widget: "string",
          required: false,
        }
      - {
          label: "Telegram",
          name: "telegram",
          widget: "string",
          required: false,
        }
      - { label: "Email", name: "email", widget: "string", required: false }
      - { label: "Website", name: "website", widget: "string", required: false }
      - {
          label: "Contributes",
          name: "contributes",
          widget: "list",
          summary: "{{fields.title}}",
          required: false,
          field: { label: "Contribute", name: "contribute", widget: "string" },
        }
  - name: "companies"
    i18n: true
    label: "Companies"
    extension: json
    format: json
    folder: "_companies"
    create: true
    slug: "{{fields.title[0]}}"
    fields:
      - {
          label: "Title",
          name: "title",
          i18n: true,
          widget: "list",
          # summary: "{{fields.title}}",
          field: { label: "title", name: "title", widget: "string" },
        }
      - {
          label: "Profile",
          name: "profile",
          i18n: true,
          widget: "list",
          summary: "{{fields.title}}",
          fields:
            [
              { label: "Title", name: "title", widget: "string" },
              { label: "Value", name: "value", widget: "string" },
            ],
        }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Logo", name: "logo", widget: "image" }
      # - { label: "Rating (scale of 1-5)", name: "rating", widget: "number" }
      - {
          label: "Body",
          required: false,
          i18n: true,
          name: "body",
          widget: "markdown",
        }
  - name: "games"
    editor:
      preview: false
    summary: "{{fields.collection_title}}-{{fields.games[0].title[0]}}-{{fields.publishers[0]}}"
    i18n: true
    label: "Games"
    extension: json
    format: json
    folder: "_games"
    create: true
    slug: "{{fields.games[0].title[0]}}-{{fields.publishers[0]}}"
    fields:
      - {
          label: "در حال فروش",
          name: "selling",
          widget: "boolean",
          default: false,
        }
      - {
          label: "Games",
          name: "games",
          widget: "list",
          max: 20,
          min: 1,
          fields:
            [
              {
                label: Title,
                name: title,
                widget: list,
                field: { label: "title", name: "title", widget: "string" },
              },
              {
                label: عنوان فارسی,
                name: title_fa,
                widget: list,
                field: { label: "title", name: "title", widget: "string" },
              },
              {
                label: Type,
                name: type,
                widget: select,
                options: ["dubbed", "modified", "iranian", "translated-texts"],
              },
            ],
        }
      - {
          label: "Collection Title",
          name: "collection_title",
          i18n: true,
          widget: "string",
          hint: "اگر این یک مجموعه از چند بازی نیست، این قسمت رو خالی بذارید.",
          required: false,
          # field: { label: "title", name: "title", widget: "string" },
        }
      - {
          label: "نواقص",
          name: "defects",
          i18n: true,
          widget: "list",
          required: false,
          hint: "هر جمله‌ی نقص باید شامل یک جمله‌ی خبری و یک جمله‌ی سؤالی باشد. مثلاً: «ایمیج دیسک اول معیوب است. آن را دارید؟»",
          field: { name: "defect", widget: "string" },
        }
      - {
          label: "Released on",
          name: "released_on",
          widget: "list",
          max: 60,
          min: 1,
          fields:
            [
              { name: "count", widget: "number" },
              {
                name: "type",
                widget: "select",
                options: ["dvd", "cd", "web", "notreleased"],
              },
            ],
        }
      - {
          label: "Photos",
          name: "photos",
          widget: "list",
          max: 20,
          min: 1,
          summary: "{{fields.image}}",
          fields:
            [
              {
                label: Title,
                name: title,
                widget: select,
                options:
                  [
                    "Front Cover",
                    "Back Cover",
                    "Media: Disc",
                    "Manual: Front",
                    "Manual: Back",
                    "Case: Front",
                    "Case: Back",
                    "Screenshot: Autorun",
                    "Screenshot: Setup",
                    "Screenshot",
                    "Extras: Poster",
                    "Extras",
                  ],
              },
              {
                label: Image,
                media_folder: "/images/games",
                name: image,
                choose_url: false,
                allow_multiple: false,
                widget: image,
              },
            ],
        }
      - {
          label: "Producers",
          name: "producers",
          multiple: true,
          # i18n: true,
          widget: "relation",
          collection: "companies",
          # value_field: "title[0]",
          value_field: "{{slug}}",
          search_fields: ["title[0]"],
          display_fields: ["title[0]"],
        }
      - {
          label: "Publishers",
          name: "publishers",
          multiple: true,
          # i18n: true,
          widget: "relation",
          collection: "companies",
          # value_field: "title[0]",
          value_field: "{{slug}}",
          search_fields: ["title[0]"],
          display_fields: ["title[0]"],
        }
      - {
          label: "Relase Dates",
          multiple: false,
          minimize_collapsed: false,
          default: [],
          hint: "اگه این قسمت رو خالی بذارید، ربات موقع آپلود ایمیج پُر می‌کنه.",
          name: "release_dates",
          widget: "list",
          required: false,
          field:
            {
              label: "Relase Date",
              time_format: false,
              name: "date",
              widget: "date",
            },
        }
      - {
          label: "Prices",
          name: "prices",
          # default: [""],
          # i18n: true,
          required: false,
          hint: "به ریال",
          widget: "list",
          field: { label: "Price", name: "price", widget: "number" },
        }
      - {
          label: "Platforms",
          name: "platforms",
          multiple: true,
          widget: "select",
          options: ["PS1", "PS2", "Windows", "Android", "Xbox 360"],
        }
      - { label: "Publish Date", name: "publish_date", widget: "datetime" }
      # - { label: "Rating (scale of 1-5)", name: "rating", widget: "number" }
      - {
          label: "Body",
          i18n: true,
          name: "body",
          widget: "markdown",
          required: false,
        }

      - {
          label: "tgfiles",
          name: "tgfiles",
          # default: [],
          # i18n: true,
          max: 60,
          min: 1,
          widget: "list",
          fields:
            [
              { name: "file_name", widget: "string" },
              { name: "file_id", widget: "string" },
              { name: "file_unique_id", widget: "string" },
              { name: "file_size", widget: "number" },
              {
                name: "type",
                widget: "select",
                options: ["game", "manual", "extra", "patch", "serial"],
              },
              {
                name: "platform",
                widget: "select",
                required: false,
                options: ["PS1", "PS2", "Windows", "Android", "Xbox 360"],
              },
            ],
        }
      - { label: "files", name: "files", widget: "hidden", default: [] }
      - {
          label: "Links",
          name: "links",
          required: false,
          # default: [],
          i18n: true,
          widget: "list",
          fields:
            [
              { name: "url", widget: "string" },
              { name: "title", widget: "string" },
            ],
        }
      - {
          label: "Contributors",
          name: "contributors",
          max: 20,
          min: 1,
          # default: [],
          # i18n: true,
          widget: "list",
          fields: [
              {
                name: "username",
                widget: "relation",
                collection: "users",
                value_field: "username",
                # value_field: "{{slug}}",
                search_fields: ["username"],
                # display_fields: "username",
              },
              {
                label: "Contribute",
                name: "contribute",
                widget: "select",
                multiple: true,
                options: ["game", "cover", "manual", "engineering", "details"],
              },
            ],
        }
      - { hint: "دست نزنید", name: "ia_id", widget: "string", required: false }

      # - { label: "blah", name: "blah", widget: "markdown" }
      # - label: "Gallery"
      #   name: "galleryImages"
      #   widget: "list"
      #   fields:
      #     - { label: "Source", name: "src", widget: "string" }
      #     - { label: "Alt Text", name: "alt", widget: "string" }
      # - label: "Profile"
      #   name: "profile"
      #   widget: "object"
      #   summary: "{{fields.name}}: {{fields.birthdate}}"
      #   fields:
      #     - {
      #         label: "Public",
      #         name: "public",
      #         widget: "boolean",
      #         default: true,
      #       }
      #     - { label: "Name", name: "name", widget: "string" }
      #     - label: "Birthdate"
      #       name: "birthdate"
      #       widget: "date"
      #       default: ""
      #       format: "MM/DD/YYYY"
      #     - label: "Address"
      #       name: "address"
      #       widget: "object"
      #       collapsed: true
      #       fields:
      #         - { label: "Street Address", name: "street", widget: "string" }
      #         - { label: "City", name: "city", widget: "string" }
      #         - { label: "Postal Code", name: "post-code", widget: "string" }
